{% load i18n %}
{% if app_list %}
    <div class="app-myapp module">
     <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-4 mb-4 text-muted text-uppercase">
          <span>Modules</span>
        </h6>
        {% for app in app_list %}
            <table>
                {% for model in app.models %}
                    <tr class="model-
                            {{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                        {% if model.admin_url %}
                            <th scope="row"><a href="{{ model.admin_url }}"
                                    {% if model.admin_url in request.path|urlencode %}
                                               aria-current="page"{% endif %}>{{ model.name }}</a></th>
                        {% else %}
                            <th scope="row">{{ model.name }}</th>
                        {% endif %}

                        {% if model.add_url %}
                            <td><a href="{{ model.add_url }}">{% translate 'Add' %}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if model.admin_url and show_changelinks %}
                            {% if model.view_only %}
                                <td><a href="{{ model.admin_url }}">{% translate 'View' %}</a></td>
                            {% else %}
                                <td><a href="{{ model.admin_url }}">{% translate 'Edit' %}</a></td>
                            {% endif %}
                        {% elif show_changelinks %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% else %}
    <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
