{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>

    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>Reports</h2>
            <ul class="actionlist">
                <li><a href="/report/booking_details">Booking details</a></li>
                <li><a href="/report/airplane_pilot_details">Machine details and list of pilots eligible to fly it</a></li>
                <li><a href="/report/passenger_bookings">Passengers and their list of bookings</a></li>
            </ul>
        </div>
      <div class="module" id="recent-actions-module">
            <ul class="actionlist">
                <li><a href="/report/pilot_schedule_by_month">Pilot Schedule by month</a></li>
                <li><a href="/report/number_of_passengers_by_flight">Number of passengers by flight</a></li>
                <li><a href="/report/number_of_working_hours_by_pilot">Number of working hours for all pilots</a></li>
                <li><a href="/report/destinations_and_bookings">List of the company destinations and their schedule</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

